<section class="contenedor seccion contenido-centrado" ><div class="error" id="error"></div>
    <div>
        <div class="regi">
          <div class="text-header">Sign up</div>
        </div>
        <div class="card-body">
          <form class="formulario" action="/signup" method="POST" novalidate>
   
            {{form}}
            <input class="boton boton-verde" type="submit" class="btn" value="Registrar">
          </form>
        </div> 
    </div>
      <a href="/login" class="boton-volver">Volver</a>
</section>
