{% extends "../../extras/padre.html" %}

{%block title%} Iniciar Sesion  {%endblock%}

{% block content%}
    <main class="contenedor seccion contenido-centrado">
        <h1 >Iniciar Sesión</h1>
        <form  class="formulario" id="formulario" action="/login" method="POST" novalidate>
            <fieldset>
                <legend>Información personal</legend>
                <label for="email">E-mail</label>
                <input type="email" name="email" placeholder="Su correo" id="email">
                <div class="error" id="emailError"></div><br>
                

                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Su password" id="password">
                <div class="error" id="passwordError"></div>

            </fieldset>

            <input type="submit" value="Iniciar Sesion" class="boton boton-verde">
        <a class="reg" href="/signup">Registrese aquí</a>
        
        </form>
    </main>
    {% load static %}
    <script src="{% static 'javascript/login.js' %}"></script>
{%endblock%}

