{% extends "../../extras/vendedor.html" %}

{%block title%} Acceso Trabajadores  {%endblock%}

{% block content%}
{% load static %}

 <h1 style="text-align: center;">Editar, Eliminar o Agrega Productos</h1>

 <div class="contenedor bot">
    <button type="button" class="boton-verde ">
        <a  href="{% url 'crear' %}">Nuevo Producto</a>
    </button>
</div>

    <div class="mensaje" id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mensaje ">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
<div class="contenedor">
    <table>
        {% if productos %}
            <th>ID</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>Marca</th>
            <th>Eliminar</th>
            <th>Actualizar</th>
            {% for p in productos %}  
                <tr>
                    <td>{{ p.id_producto }}</td>
                    <td>
                        {% if p.imagen %}
                            <img class="ven__imagen" src="{{ p.imagen.url }}" alt="imagen Prducto">
                        {% endif %}
                    </td>
                    <td>{{ p.precio }}</td>
                    <td>{{ p.descripcion }}</td>
                    <td>{{ p.id_categoria }}</td>
                    <td class="agregar separar"><a href="{% url 'eliminar' pk=p.id_producto %}">Eliminar</a></td>
                    <td class="eliminar"><a href="{% url 'actualizar' pk=p.id_producto%}">Actualizar</a></td>
                </tr>
            {% endfor %}      

        {% endif %}
    </table>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){

    $("#idMensajes").delay(5000).fadeOut("slow");

    });
</script>
{%endblock%}