{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
    <title>Vendedores</title>
</head>
<body>
    <header class="">

        <div class="contenedor contenido-header">
            <div class="barra">
                <a class="logo" href="/">
                    <h1 class="logo__nombre no-margin">Electro<span class="logo__bold centrar-texto">Store</span></h1>
                </a>
                <div class="derecha">
                    <nav class="navegacion-ven"> 
                        <a  href="/login">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <circle cx="12" cy="10" r="3" />
                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
                            </svg>
                        </a>
                    </nav>                
                </div>
            </div>
        </div>
    </header>


    






    <footer class="footer">
           <p class="footer__texto">Electro Store Todos los Derechos reservados Tarea DuocUC. &COPY;</p> 
        </div>
    </footer> 
</body>
</html>