{% extends "../../extras/padre.html" %}

{% block title %}Carrito{% endblock %}

{% block content %}
<h1 style="text-align: center;">Carrito de Compras</h1>

<div class="contenedor">
  {% if productos %}
    <table>      
      <tr>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Eliminar</th>
      </tr>
        {% for p in productos %}
            <tr>
                <td>{{ p.nombre_producto }}</td>
                <td>{{ p.precio }}</td>
                <td>{{ p.descripcion_producto }}</td>
                <td class="eliminar separar">
                  <a href="{% url 'eliminarCarrito' carrito_pk=p.id_carrito %}">Eliminar</a>
              </td>
              
            </tr>
        {% endfor %}
        
    </table>
      <button class="boton-amarilla  formulario__submit"> <a href="/verificaCompra">Finaliza compra :(</a> </button>
  {% endif %}
</div>

{% endblock %}
