{% extends "../../extras/padre.html" %}

{%block title%} Nosotros  {%endblock%}

{% block content%}
 
<div class="contenedor">
    <div class="cliente">
      {% if persona %}
      <h1 class="logo__nombre no-margin">{{ persona.nombre }}<span class="logo__bold centrar-texto">{{ persona.apellido }}</span></h1>
      {% endif %}
    </div>
    {% if productos %}
    <table>

      
      <tr>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Eliminar</th>
      </tr>
        {% for p in productos %}
            <tr>
                <td>{{ p.titulo }}</td>
                <td>{{ p.precio }}</td>
                <td>{{ p.descripcion }}</td>
                <td>{{ p.id_categoria }}</td>
                <td class="agregar separar">
                    <a href="{% url 'eliminarCarrito' pk=p.id_producto %}">Eliminar</a>
                </td>                      
            </tr>
        {% endfor %}
        
    </table>
        <button class="boton-amarilla  formulario__submit"> <a href="/verificaCompra">Finaliza compra :(</a> </button>
    {% endif %}
  </div>
  

{%endblock%}